@model eShopSolution.ViewModels.System.Users.LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Login</li>
</ul>
<h3> <localize>Login</localize></h3>
<hr class="soft" />

<div class="row">
    <div class="span4">
        <div class="well">
            <h5><localize>DO NOT HAVE AN ACCOUNT?</localize></h5><br />
            <form action="register.html">
                <div class="controls">
                    <a href="/@culture/Account/Register" class="btn block"><localize>Create your account</localize></a>
                </div>
            </form>
        </div>
    </div>
    <div class="span1"> &nbsp;</div>
    <div class="span4">
        <div class="well">
            <h5><localize>DO YOU ALREADY HAVE AN ACCOUNT?</localize></h5>
            <form action="/@culture/Account/Login" method="post">
                <div class="control-group">
                    <label class="control-label"><localize>User Name</localize></label>
                    <div class="controls">
                        <input class="span3" type="text" asp-for="UserName" placeholder="Username">
                        <span asp-validation-for="UserName" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><localize>Password</localize></label>
                    <div class="controls">
                        <input type="password" class="span3" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn"><localize>Sign in</localize></button>
                        <a href="forgetpass.html"><localize>Forget password?</localize></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>	